---
import Layout from "../layouts/Layout.astro";
import Work from "../components/work.astro";
import Skills from "../components/skills.astro";
---

<Layout title="Martin Aguayo" />
<div class="overflow-hidden h-[90%]">
  <!-- NavBar -->
  <div class="w-full top-0 h-7 bg-none flex justify-end pr-16 gap-x-4">
    <div>Icono 1</div>
    <div>icono 2</div>
  </div>

  <!-- Main -->
  <div class="w-full h-full flex gap-x-8 max-h-max">
    <!-- Sidebar -->

    <div class="hidden md:block">
      <div class="pl-16 m-8">
        <ul class="space-y-12 cursor-pointer">
          <li id="section">
            <a href="#/works" class="space-y-1.5">
              <img src="/projects.png" alt="Work" class="h-12 w-12 m-auto" />
              <h2
                class="text-sm text-center hover:bg-blue-900 hover:text-white"
              >
                Works
              </h2>
            </a>
          </li>
          <li id="section">
            <a href="#/skills" class="space-y-1.5">
              <img src="/work.png" alt="Work" class="h-12 w-12 m-auto" />
              <h2
                class="text-sm text-center hover:bg-blue-900 hover:text-white"
              >
                Skills
              </h2>
            </a>
          </li>
          <li id="section">
            <a href="/" class="space-y-1.5">
              <img src="/about-w98.png" alt="Work" class="h-12 w-12 m-auto" />
              <h2
                class="text-sm text-center hover:bg-blue-900 hover:text-white"
              >
                About me
              </h2>
            </a>
          </li>
          <li class="section">
            <a href="/" class="space-y-1.5">
              <img src="/contact-w98.png" alt="Work" class="h-12 w-12 m-auto" />
              <h2
                class="text-sm text-center hover:bg-blue-900 hover:text-white"
              >
                Contact
              </h2>
            </a>
          </li>
          <li class="section">
            <a href="/" class="space-y-1.5">
              <img src="/cv-w98.png" alt="Work" class="h-12 w-12 m-auto" />
              <h2
                class="text-sm text-center hover:bg-blue-900 hover:text-white"
              >
                CV
              </h2>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <!-- Content -->

    <!-- Works -->
    <Work />

    <!-- Skills -->
    <Skills />

    <!-- About Me -->

    <!-- Contact -->

    <!--  -->
  </div>
</div>

<!-- Footer -->

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const sections = document.querySelectorAll("#section a");
    const url = window.location.hash;
    if (url === "") {
      document.getElementById("container-projects").style.display = "block";
    }

    sections.forEach((section) => {
      section.addEventListener("click", function (event) {
        event.preventDefault(); // Evita el comportamiento predeterminado del enlace

        const href = section.getAttribute("href"); // Obtiene la ruta del enlace

        // Oculta todos los componentes
        document.querySelectorAll(".component").forEach((component) => {
          component.style.display = "none";
        });
        // Muestra el componente correspondiente según la ruta del enlace
        if (href === "#/works") {
          document.getElementById("container-projects").style.display = "block";
        } else if (href === "#/skills") {
          document.getElementById("skills").style.display = "block";
        }
        // Agrega más condiciones según las rutas de los enlaces si es necesario
      });
    });
  });
</script>
