<div>
  <div class="flex">
    <h2 class="text-xs ml-2 items-center flex">Works</h2>
    <div class="flex ml-auto mr-2 gap-x-3">
      <a>?</a>
      <a>X</a>
    </div>
  </div>
  <div
    class="h-full p-3 pr-4 pb-8 max-sm:pb-10 bg-[silver] border border-solid shadow-md border-black"
  >
    <div class="border-2 border-solid shadow-md border-black bg-white">
      <div class="flex flex-row h-full w-full overlof-whidden">
        <!-- Left Side Folders -->
        <div class="flex flex-col gap-y-8 ml-4 mt-4 text-black w-[40%]">
          <div class="flex flex-col gap-y-1">
            <h2 class="text- font-serif font-bold">Works Projects Recent</h2>
            <div class="flex gap-x-6 cursor-grab ml-3">
              <div
                class="relative scale-90 hover:scale-110 transition shadow-md"
              >
                <img class="h-20 w-20" src="/folder-work.png" />
                <img
                  class="h-8 w-8 absolute top-3 left-0 right-0 bottom-0 m-auto"
                  src="/book.png"
                />
              </div>
              <div
                class="relative scale-90 hover:scale-110 transition shadow-md"
              >
                <img class="h-20 w-20" src="/folder-work.png" />
                <img
                  class="h-8 w-8 absolute top-3 left-0 right-0 bottom-0 m-auto"
                  src="/book.png"
                />
              </div>
              <div
                class="relative scale-90 hover:scale-110 transition shadow-md"
              >
                <img class="h-20 w-20" src="/folder-work.png" />
                <img
                  class="h-8 w-8 absolute top-3 left-0 right-0 bottom-0 m-auto"
                  src="/book.png"
                />
              </div>
            </div>
          </div>
        </div>

        <!-- Right Side Content -->
        <div class="w-0 md:w-[60%] relative flex flex-col">
          <div class="h-3/5 bg-gradient-to-b from-emerald-200 to-pink-200">
          </div>
          <div class="bg-chessboard bg-bottom bg-cover h-[500px] w-full">
            <div class="hidden md:flex flex-col items-center">
              <!-- Navigations Tips -->
              <div
                class="bg-teal-600 border border-solid flex flex-col mx-auto rounded-sm shadow-md"
              >
                <div class="flex items-center">
                  <p class="text-xs ml-2 text-start text-white">
                    Some navigations tips
                  </p>
                  <a role="button" class="ml-auto mr-2">X</a>
                </div>
                <div class="bg-[silver] border-solid p-3 text-sm flex flex-col">
                  <div class="flex gap-10 items-center justify-center">
                    <img src="/book.png" class="h-8 w-8" />
                    <p class="flex flex-1 text-black">
                      Click a project to see the details here. You can navigate
                      trough elements draggin the mouse.
                    </p>
                  </div>
                  <div class="mx-auto mt-6">
                    <button
                      class="w-auto appearance-none border-[2px] border-solid border-b-[#404040] border-r-[#404040] border-t-[#ededed] border-l-[#ededed] bg-[silver] px-2 py-1 leading-[20px] tracking-wider text-black"
                      >Go It!</button
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
