---
import { Image } from "astro:assets";
import { projects } from "../../data/projects";
---

<div
  id="container-projects"
  class="bg-blue-900 h-[90%] w-[90%] m-7 border-solid border-2 text-white max-w-screen-2xl"
>
  <div class="flex">
    <h2 class="text-xs ml-2 items-center flex">Works</h2>
    <div class="flex ml-auto mr-0.5 cursor-pointer items-center">
      <button
        id="btnQuestion"
        class="relative z-10 float-right block size-4 appearance-none border-t-2 border-r-2 border-b-2 border-l-2 border-solid border-b-[#404040] border-r-[#404040] border-t-[#ededed] border-l-[#ededed] bg-[silver] font-bold tracking-wider text-black max-sm:h-[1.4rem] max-sm:w-[1.4rem] mr-1"
      >
        <Image
          src="/question-icon.png"
          alt="Question Icon"
          width="50"
          height="50"
          loading="lazy"
        /></button
      >
      <button
        id="btnClose"
        class="relative z-10 float-right block size-4 appearance-none border-t-2 border-r-2 border-b-2 border-l-2 border-solid border-b-[#404040] border-r-[#404040] border-t-[#ededed] border-l-[#ededed] bg-[silver] font-bold tracking-wider text-black max-sm:h-[1.4rem] max-sm:w-[1.4rem] mr-1"
      >
        <Image
          src="/close-icon.png"
          alt="Close Icon"
          width="50"
          height="50"
          loading="lazy"
        />
      </button>
    </div>
  </div>
  <div
    class="h-full p-3 pr-4 pb-8 max-sm:pb-10 bg-[silver] border border-solid shadow-md border-black"
  >
    <div class="border-2 border-solid shadow-md border-black bg-white">
      <div class="flex flex-row h-full w-full overlof-whidden">
        <!-- Left Side Folders -->
        <div class="flex flex-col gap-y-8 ml-4 mt-4 text-black w-[40%]">
          <div class="flex flex-col gap-y-1">
            <h2 class="text- font-serif font-bold">Works Projects Recent</h2>
            <div class="flex gap-x-6 cursor-grab ml-3">
              {
                projects.map((project) => (
                  <div
                    id={project.id}
                    class="relative scale-90 hover:scale-110 transition shadow-md project"
                  >
                    <img class="h-20 w-20" src="/folder-work.png" />
                    <img
                      class="h-8 w-8 absolute top-3 left-0 right-0 bottom-0 m-auto project"
                      src={project.image}
                    />
                  </div>
                ))
              }
              <!-- <div
                id=""
                class="relative scale-90 hover:scale-110 transition shadow-md project"
              >
                <img class="h-20 w-20" src="/folder-work.png" />
                <img
                  class="h-8 w-8 absolute top-3 left-0 right-0 bottom-0 m-auto project"
                  src="/book.png"
                />
              </div>
              <div
                class="relative scale-90 hover:scale-110 transition shadow-md project"
              >
                <img class="h-20 w-20" src="/folder-work.png" />
                <img
                  class="h-8 w-8 absolute top-3 left-0 right-0 bottom-0 m-auto"
                  src="/work.png"
                />
              </div>
              <div
                class="relative scale-90 hover:scale-110 transition shadow-md project"
              >
                <img class="h-20 w-20" src="/folder-work.png" />
                <img
                  class="h-8 w-8 absolute top-3 left-0 right-0 bottom-0 m-auto"
                  src="/book.png"
                />
              </div> -->
            </div>
          </div>
        </div>

        <!-- Right Side Content -->
        <div class="w-0 md:w-[60%] relative flex flex-col">
          <div class="h-3/5 bg-gradient-to-b from-emerald-200 to-pink-200">
          </div>
          <div class="bg-chessboard bg-bottom bg-cover h-[500px] w-full">
            <section
              id="dialog"
              class="absolute top-2 right-0 left-0 bottom-0 m-auto w-[90%] bg-sky-200 h-[90%] border border-solid border-white"
            >
              <div
                class="hidden md:flex items-center border p-4 border-solid border-[silver] h-0 bg-[#008080]"
              >
                <span class="text-xs">Project Name</span>
                <div class="flex ml-auto -mr-3.5 cursor-pointer">
                  <button
                    id="btnMaximize"
                    class="relative z-10 float-right block size-4 appearance-none border-t-2 border-r-2 border-b-2 border-l-2 border-solid border-b-[#404040] border-r-[#404040] border-t-[#ededed] border-l-[#ededed] bg-[silver] font-bold tracking-wider text-black max-sm:h-[1.4rem] max-sm:w-[1.4rem] mr-1"
                  >
                    <Image
                      src="/maximize-icon.png"
                      alt="Question Icon"
                      width="50"
                      height="50"
                      loading="lazy"
                    /></button
                  >
                  <button
                    id="btnCloseProject"
                    class="relative z-10 float-right block size-4 appearance-none border-t-2 border-r-2 border-b-2 border-l-2 border-solid border-b-[#404040] border-r-[#404040] border-t-[#ededed] border-l-[#ededed] bg-[silver] font-bold tracking-wider text-black max-sm:h-[1.4rem] max-sm:w-[1.4rem] mr-1"
                  >
                    <Image
                      src="/close-icon.png"
                      alt="Close Icon"
                      width="50"
                      height="50"
                      loading="lazy"
                    />
                  </button>
                </div>
              </div>
              <div class="h-full w-full bg-indigo-200">
                <div class="flex justify-center h-full bg-sky-500">
                  <div class="h-[45%] w-[80%] bg-yellow-500 relative">
                    <Image
                      src="/book.png"
                      alt="Project Image"
                      width={200}
                      height={400}
                      class="mx-auto bg-sky-900 absolute w-full h-full"
                    />
                  </div>
                </div>
              </div>
            </section>
            <div class="hidden md:flex flex-col items-center">
              <!-- Navigations Tips -->
              <div
                id="navigationsTips"
                class="bg-teal-600 border border-solid flex flex-col mx-auto rounded-sm shadow-md"
              >
                <div class="flex items-center">
                  <p class="text-xs ml-2 text-start text-white">
                    Some navigations tips
                  </p>
                  <a id="closeNavigationTips" role="button" class="ml-auto mr-2"
                    >X</a
                  >
                </div>
                <div class="bg-[silver] border-solid p-3 text-sm flex flex-col">
                  <div class="flex gap-10 items-center justify-center">
                    <img src="/book.png" class="h-8 w-8" />
                    <p class="flex flex-1 text-black">
                      Click a project to see the details here. You can navigate
                      trough elements draggin the mouse.
                    </p>
                  </div>
                  <div class="mx-auto mt-6">
                    <button
                      id="btnGoIt"
                      class="w-auto appearance-none border-[2px] border-solid border-b-[#404040] border-r-[#404040] border-t-[#ededed] border-l-[#ededed] bg-[silver] px-2 py-1 leading-[20px] tracking-wider text-black"
                      >Go It!</button
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  import { projects } from "../../data/projects";
  document.addEventListener("DOMContentLoaded", function () {
    let btnQuestion = document.getElementById("btnQuestion");
    let btnClose = document.getElementById("btnClose");
    let btnGoIt = document.getElementById("btnGoIt");
    let btnCloseProject = document.getElementById("btnCloseProject");
    let btnMaximize = document.getElementById("btnMaximize");
    let dialog = document.getElementById("dialog");

    let closeNavigationTips = document.getElementById("closeNavigationTips");
    closeNavigationTips?.addEventListener("click", function (event) {
      event.preventDefault();
      let navigationsTipsDiv = document.getElementById("navigationsTips");
      if (navigationsTipsDiv) {
        navigationsTipsDiv.style.display = "none";
      }
    });

    btnGoIt?.addEventListener("click", function (event) {
      event.preventDefault();
      let navigationsTipsDiv = document.getElementById("navigationsTips");
      if (navigationsTipsDiv) {
        navigationsTipsDiv.style.display = "none";
      }
    });

    btnCloseProject?.addEventListener("click", function (event) {
      event.preventDefault();
      dialog ? (dialog.style.display = "none") : "";
    });

    btnQuestion?.addEventListener("click", function (event) {
      event.preventDefault();
    });
    btnClose?.addEventListener("click", function (event) {
      event.preventDefault();
      let containerProjects = document.getElementById("container-projects");
      containerProjects ? containerProjects.remove() : "";
    });

    if (dialog) {
      dialog.style.display = "none";
    }
    let projectElements = document.querySelectorAll(".project");
    projectElements.forEach(function (project) {
      project.addEventListener("click", function (event) {
        event.preventDefault();
        let projectId = project.id;

        let selectedProject = projects.find(
          (project) => project.id === projectId
        );
        let projectNameSpan = document.querySelector("#dialog span");
        let projectName = selectedProject?.name;
        if (projectNameSpan) {
          projectNameSpan.textContent = projectName as string;
        }
        // Mostrar el contenido en el artículo dentro del diálogo
        let article = dialog?.querySelector("article");
        let articleImg: HTMLImageElement | null | undefined =
          dialog?.querySelector("article img");
        if (article) {
          articleImg ? (articleImg.src = selectedProject?.image as string) : "";
          console.log(articleImg);
        }
        // Mostrar el diálogo y ocultar las instrucciones de navegación
        if (dialog) {
          let navigationsTipsDiv = document.getElementById("navigationsTips");
          if (navigationsTipsDiv) {
            navigationsTipsDiv.style.display = "none";
          }
          dialog.style.display = "block";
        }
      });
    });
  });
</script>
